PyYAML==6.0.3
Pygments==2.19.2
SecretStorage==3.4.0
annotated-types==0.7.0
attrs==25.4.0
black==25.9.0
build==1.3.0
cachetools==5.3.3
certifi==2025.10.5
cffi==2.0.0
cfgv==3.4.0
charset-normalizer==3.4.3
chembl-data-acquisition @ file:///workspace/ChEMBL_data_acquisition
click==8.3.0
coverage==7.10.7
cryptography==46.0.2
distlib==0.4.0
docutils==0.22.2
et_xmlfile==2.0.0
filelock==3.20.0
freezegun==1.5.1
hypothesis==6.140.2
identify==2.6.15
idna==3.10
importlib_metadata==8.7.0
iniconfig==2.1.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.3.0
jeepney==0.9.0
jsonschema-specifications==2025.9.1
jsonschema==4.25.1
keyring==25.6.0
markdown-it-py==4.0.0
mdurl==0.1.2
more-itertools==10.8.0
mypy==1.18.2
mypy_extensions==1.1.0
nh3==0.3.1
nodeenv==1.9.1
numpy==2.3.3
openpyxl==3.1.5
packaging==25.0
pandas-stubs==2.3.2.250926
pandas==2.3.3
pandera==0.26.1
pathspec==0.12.1
pkginfo==1.10.0
platformdirs==4.5.0
pluggy==1.6.0
pre_commit==4.3.0
psutil==7.1.0
pyarrow==20.0.0
pycparser==2.23
pydantic==2.11.9
pydantic_core==2.33.2
pyproject_hooks==1.2.0
pytest-cov==6.3.0
pytest-json-report==1.5.0
pytest-metadata==3.1.1
pytest==8.4.2
python-dateutil==2.9.0.post0
pytokens==0.1.10
pytz==2025.2
readme_renderer==44.0
referencing==0.36.2
requests-toolbelt==1.0.0
requests==2.32.5
responses==0.25.8
rfc3986==2.0.0
rich==14.2.0
rpds-py==0.27.1
ruff==0.13.3
six==1.17.0
sortedcontainers==2.4.0
twine==5.1.1
typeguard==4.4.4
types-PyYAML==6.0.12.20250915
types-cachetools==5.5.0.20240820
types-jsonschema==4.25.1.20250822
types-openpyxl==3.1.5.20250919
types-python-dateutil==2.9.0.20250822
types-pytz==2025.2.0.20250809
types-requests==2.32.4.20250913
types-tabulate==0.9.0.20241207
types-urllib3==1.26.25.14
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
virtualenv==20.35.3
zipp==3.23.0
